<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-5">
				<span class="text-muted">Our Story</span>
				<h2 class="display-5 fw-bold">About Us</h2>
				<p class="lead">Join us on this flavorful journey! Explore, create, and connect with fellow food lovers. Let’s make every meal an adventure.</p><a class="btn btn-primary mt-2" href="">Join Our Community</a>
			</div>
			<div class="col-md-6 offset-md-1">
				<p class="lead">We believe that cooking is an art, and every dish tells a story. At Recipe Nest, we bring together home cooks, food enthusiasts, and professional chefs to share and explore delicious recipes from around the world.</p>
				<p class="lead">We started with a simple idea: to create a space where food lovers can share their favorite recipes, discover new dishes, and learn from one another. Today, our community continues to grow, filled with passionate individuals who believe that great food should be shared.</p>
			</div>
		</div>
	</div>
</section>