@{
    ViewData["Title"] = "FAQ";
}

<section class="py-5">
    <div class="container">
        <div class="row justify-content-center text-center mb-3">
            <div class="col-lg-8 col-xl-7">
                <span class="text-muted">F.A.Q</span>
                <h2 class="display-5 fw-bold">Frequently Asked Questions</h2>
                <p class="lead">If you need help with anything, don’t hesitate to ask! </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-5">
                <h2 class="pb-4 fw-bold">Have Any Questions?</h2>
                <p>Our team is always ready to assist you with any concerns or inquiries. We strive to make your experience smooth and enjoyable. Click the Contact Us button to get in touch with us today!</p>
                <a class="btn btn-primary btn-lg mt-3" href="#">Contact us</a>
            </div>
            <div class="col-md-7">
                <div class="accordion" id="Questions-accordion">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Questions-headingOne">
                            <button aria-controls="Questions-collapseOne" aria-expanded="false" class="accordion-button collapsed bg-dark" data-bs-target="#Questions-collapseOne" data-bs-toggle="collapse" type="button">
                                <div class="text-muted me-3">
                                    <svg class="bi bi-question-circle-fill" fill="currentColor" height="24" viewbox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path>
                                    </svg>
                                </div>What is Recipe Nest about ?
                            </button>
                        </h2>
                        <div aria-labelledby="Questions-headingOne" class="accordion-collapse collapse" data-bs-parent="#Questions-accordion" id="Questions-collapseOne">
                            <div class="accordion-body">
                                We are a platform dedicated to sharing delicious recipes, cooking tips, and food inspiration. Whether you're a beginner or an experienced cook, you'll find something exciting here!
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Questions-headingTwo">
                            <button aria-controls="Questions-collapseTwo" aria-expanded="false" class="accordion-button collapsed bg-dark" data-bs-target="#Questions-collapseTwo" data-bs-toggle="collapse" type="button">
                                <div class="text-muted me-3">
                                    <svg class="bi bi-question-circle-fill" fill="currentColor" height="24" viewbox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path>
                                    </svg>
                                </div>Is it free to use this website?
                            </button>
                        </h2>
                        <div aria-labelledby="Questions-headingTwo" class="accordion-collapse collapse" data-bs-parent="#Questions-accordion" id="Questions-collapseTwo">
                            <div class="accordion-body">
                                Yes! Our platform is completely free to use. You can explore recipes, share your own, and interact with the community at no cost.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Questions-headingThree">
                            <button aria-controls="Questions-collapseThree" aria-expanded="false" class="accordion-button collapsed bg-dark" data-bs-target="#Questions-collapseThree" data-bs-toggle="collapse" type="button">
                                <div class="text-muted me-3">
                                    <svg class="bi bi-question-circle-fill" fill="currentColor" height="24" viewBox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path>
                                    </svg>
                                </div>How can I contact customer support?
                            </button>
                        </h2>
                        <div aria-labelledby="Questions-headingThree" class="accordion-collapse collapse" data-bs-parent="#Questions-accordion" id="Questions-collapseThree">
                            <div class="accordion-body">
                                If you have any questions or issues, you can reach out to us via our Contact Us page, and we'll be happy to assist you.
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="Questions-headingFour">
                            <button aria-controls="Questions-collapseFour" aria-expanded="false" class="accordion-button collapsed bg-dark" data-bs-target="#Questions-collapseFour" data-bs-toggle="collapse" type="button">
                                <div class="text-muted me-3">
                                    <svg class="bi bi-question-circle-fill" fill="currentColor" height="24" viewbox="0 0 16 16" width="24" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.496 6.033h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286a.237.237 0 0 0 .241.247zm2.325 6.443c.61 0 1.029-.394 1.029-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94 0 .533.425.927 1.01.927z"></path>
                                    </svg>
                                </div>How can I submit my own recipes?
                            </button>
                        </h2>
                        <div aria-labelledby="Questions-headingFour" class="accordion-collapse collapse" data-bs-parent="#Questions-accordion" id="Questions-collapseFour">
                            <div class="accordion-body">
                                You can share your recipes by signing up and submitting them through our "Submit Recipe" page. Our team will review and publish them for others to enjoy!
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>